@model IndexViewModel
<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
     <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
                    <input type="hidden" name="category" value="@Model.Category" />
                    <input type="text" class="form-control" name="search" value="@Model.Search" placeholder="Search for...">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div> 

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">

                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-category="CloudComputing">Cloud Computing</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" asp-route-category="Tutorials">Tutorials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p>
                Hello! My Name is Tarang Dube. I am an aspiring Web Developer who enjoys connecting the dots,
                being Detail-oriented, responsible and committed engineer, with a get-it-done spirit, having knowledge of designing,
                implementing, testing, and delivering back-end web application solution using C# language on DotNet Framework.
            </p>
            Connect with me on LinkedIn:<br/>
            <a href="https://linkedin.com/in/tarang-dube-387a25147" style="font-size:large;"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </div>
    </div>

</div>