<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/59ccde5d-0d00-45d2-8acc-1f99ceebce13/resourceGroups/DevOnOps/providers/Microsoft.ContainerRegistry/registries/devonops</ResourceId>
    <ResourceName>devonops</ResourceName>
    <ResourceGroup>DevOnOps</ResourceGroup>
    <Subscription>Visual Studio 2017 Professional</Subscription>
    <RegistryUrl>https://devonops.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8724796a-d968-4afd-9737-fab710729ae9</ProjectGuid>
  </PropertyGroup>
</Project>